<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Betreuung</li>
  </ol>

  <div class="row">

    <!-- Sidebar -->
    <aside class="col-md-4 sidebar sidebar-left">

      <div class="row widget">
        <div class="col-xs-12">
          <h4>Betreuungsteam aus dem Jahr 2013</h4>
          <p><img src="images/betreung2013.jpg" alt=""></p>
        </div>
      </div>


    </aside>
    <!-- /Sidebar -->

    <!-- Article main content -->
    <article class="col-md-8 maincontent">
      <header class="page-header">
        <h1 class="page-title">Der Betreuungsverein stellt sich vor
        </h1>
      </header>
      <p>Seit 1996 gibt es den Betreuungsverein an der GGS Urdenbach. Wir sind mit insgesamt ca. 80 Kindern in den
        beiden Schulgebäuden (Garather Straße 16 und Urdenbacher Allee 98) vertreten. Die Gruppen werden jeweils von
        einer Erzieherin und zwei pädagogisch erfahrenen bzw. ausgebildeten Kräften betreut.
      </p>
      <p>
        <b>Betreuungszeit: 11:45 – 15:00 Uhr - mit flexibler Abholzeit !</b>
      </p>
      <p>
        Mittagessensangebot für ca. 2,70 € / Essen - Essen auch an einzeln festgelegten Tagen möglich !
      </p>
      <p>
        Angebote: Kreatives Gestalten (z.B. Malen, Basteln, Werken, Handarbeiten), Bewegungsspiele indoor und outdoor,
        Hausaufgaben-Begleitung in einem Klassenraum Rollenspiele, Gesellschaftsspiele, konstruktives Spielen,
        Rückzugsmöglichkeiten, trösten, lachen, feiern, entspannen...
      </p>
      <p>
        Monatsbeitrag: 45 € / Monat (für elf Monate/Jahr, ein Monat beitragsfrei)
      </p>
      <p>
        Betreuung Garather Straße, Heike Stiebert 02 11 / 9 96 39 45 <br>
        Betreuung Urdenbacher Allee, Irmgard Fahnenstich 02 11 / 7 18 36 11 <br>
      </p>
      <p>
        Für organisatorische und finanzielle Fragen stehen die 1. und 2. Vorsitzende und die Kassiererin gerne zur
        Verfügung.
      </p>
      <p>
        E-Mail: gg.garatherstr@duesseldorf.de
      </p>
      <p>
        Schauen Sie doch einfach mal rein!!</p>
      <p>
        <b>Urdenbacher Allee</b> <br>
        Brigitte Waldmann <br>
        Evelyn Recker <br>
        Irmgard Fahnenstich <br>
        <br> <br>
        <b>Garather Straße</b> <br>
        Heike Stiebert<br>Helga Müller<br>Petra Bassy<br>Lydia Lummerich
        <br>
        <br>
        Tel.: 0211/7 18 36 11 oder Tel.: 0211/9 96 39 45
      </p>
    </article>
    <!-- /Article -->

  </div>
</div>  <!-- /container -->



