<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Betreuung</li>
  </ol>

  <div class="row">

    <!-- Sidebar -->


    <!-- Article main content -->
    <article class="col-md-8 maincontent">
      <header class="page-header">
        <h1 class="page-title">Der Betreuungsverein stellt sich vor
        </h1>
      </header>
      <p>Seit 1996 gibt es den Betreuungsverein an der GGS Urdenbach. Wir sind mit insgesamt ca. 90 Kindern in den beiden Schulgebäuden (Garather Straße 16 und Urdenbacher Allee 98) vertreten. An beiden Standorten werden die Kinder von je vier erfahrenen Mitarbeiterinnen betreut.</p>
      <p>
        <b>Betreuungszeit: 11:45 – 15:00 Uhr - mit flexibler Abholzeit!</b>
      </p>
      <p>
       Angebote: Kreatives Gestalten (z.B. Malen, Basteln, Werken, Handarbeiten), Bewegungsspiele indoor und outdoor, Hausaufgaben-Begleitung in einem Klassenraum, Rollenspiele, Gesellschaftsspiele, konstruktives Spielen, Rückzugsmöglichkeiten, Trösten, Lachen, Feiern, Entspannen...
      </p>
      <p>
        Keine Betreuung in den Ferien!
In den Sommerferien wird in den ersten beiden Ferienwochen ein Zirkusprojekt angeboten (kostenpflichtig).
      </p>
      <p>
        Verpflegungsentgelt für 5 Tage/Woche: 60 € / Monat (für elf Monate/Jahr), auch einzelne Tage buchbar
      </p>
      <p>
        <i>Urdenbacher Allee</i><br>
		Susanne Dickhaut<br>
		Irmgard Fahnenstich<br>
		Ilona Kaulfuß<br>
		Kathrin Stark
      </p>
      <p>
       <i>Garather Straße</i><br>
Petra Bassy<br>
Birgit Patz<br>
Helga Müller<br>
Heike Stiebert<br>
      </p>
      <p><i>Springer</i><br>
Evelyn Recker<br>
Brigitte Waldmann</p>
	<p>Haben Sie noch Fragen? Gerne helfen Ihnen die Betreuerinnen und der Vorstand des Betreuungsvereins weiter!</p>
      <p>Schauen Sie doch einfach mal rein!</p>
      <p>
        E-Mail:<br>
        betreuungsverein.ggs.urdenbach@web.de
      </p>
      <p>
      Betreuung Garather Straße, Heike Stiebert 02 11 / 9 96 39 45
		<BR>Betreuung Urdenbacher Allee, Irmgard Fahnenstich 02 11 / 7 18 36 11
      </p>
      <p>Stand: Juli 2018</p>
    </article>
    <!-- /Article -->

  </div>
</div>  <!-- /container -->



