<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Förderverein</li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <article class="col-md-8 maincontent">
      <header class="page-header">
        <h1 class="page-title">Förderverein der Gemeinschaftsgrundschule Urdenbach e.V.</h1>
      </header>
      <p>Der Förderverein der Gemeinschaftsgrundschule Urdenbach e.V. hat sich zum Ziel gesetzt, die Schule bei der
        Ausbildung der Kinder finanziell zu unterstützen.

        Er springt immer dort ein, wo die öffentlichen Mittel nicht ausreichen. So hat er die Umsetzung des Konzeptes
        zur Pausengestaltung durch die Anschaffung von Spielgeräten und von Spielgerätecontainern ermöglicht. Er
        finanziert die Anschaffung von Freiarbeitsmaterialien und unterstützt die Klassen bei kostspieligeren
        Unternehmungen wie Jugendherbergsaufenthalten, Projektwochen und Veranstaltungen wie der Theaterpädagogischen
        Werkstatt und bei der Gewaltprävention "Stark im Konflikt". Der Förderverein trägt wesentlich dazu bei dass
        Mittel zur Verfügung stehen, die das Schulleben für die Kinder lebendig und kreativ machen. Der Verein
        finanziert sich aus freiwilligen Beiträgen, und Spenden. (Spendenquittungen werden auf Wunsch ausgestellt).</p>

      <h2>Infomaterial</h2>
      <p>

        <a target="_blank" href="assets/pdf/FoeVereinSatzung2009.pdf">Satzung Förderverein</a> <br>
        <a target="_blank" href="assets/pdf/OrdentlicheMitgliederAufnahmeantrag.pdf">Beitrittserklärung für ordentliche
          Mitglieder </a><br>
        <!-- a target="_blank" href="assets/pdf/FoerderndeMitgliederAufnahmeantrag.pdf">Beitrittserklärung für
          Fördermitglieder </a> <br -->
        <a target="_blank" href="assets/pdf/urdenbach_flyer_neu.pdf">Flyer </a>

      </p>
    </article>
    <!-- /Article -->

    <!-- Sidebar -->
    <aside class="col-md-4 sidebar sidebar-right">

      <div class="row widget">
        <div class="col-xs-12">
          <h4>Spendenkonto</h4>
          <p><img src="images/schwein.gif" alt=""></p>
          <p>Stadt-Sparkasse Düsseldorf<br>
            Konto-Nr. 54002423 <br>
            BLZ 300 501 10 <br>
            IBAN: DE28300501100054002423.</p>
        </div>
      </div>
      <div class="row widget">
        <div class="col-xs-12">
          <p><img src="images/flyer.gif" alt=""></p>
        </div>
      </div>


    </aside>
    <!-- /Sidebar -->

  </div>
</div>  <!-- /container -->
