<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">OGS</li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <article class="col-sm-8 maincontent">
      <header class="page-header">
        <h1 class="page-title">OGS</h1>
      </header>
      <h3>Bilden-Erziehen-Fördern-Spielen</h3>
      <p>
        Herzlich Willkommen auf der Internetseite der <b>Offenen GanztagsgrundSchule (OGS)</b> der
        Gemeinschaftsgrundschule
        Garather Straße in Düsseldorf Urdenbach. Sie möchten Arbeit und Familie miteinander vereinbaren, wünschen sich
        eine Veränderung der Lehr- und Lernkultur für jedes Kind? Die OGS der GGS Garather Straße wird dabei Ihr
        verlässlicher Partner sein. Wir möchten Sie als Eltern dabei unterstützen, dass die uns anvertrauten Kinder sich
        zu selbstbewussten, selbständigen, verantwortungsvollen und sich sozial verhaltenden Persönlichkeiten
        entwickeln. Wir möchten, dass Ihre Kinder sich hier wohl fühlen, sich angenommen fühlen. Die Kinder sind für uns
        das Wichtigste!

        In fünf Gruppen bieten wir 125 OGS-Plätze an. Die Räumlichkeiten befinden sich im Erdgeschoss und in der ersten
        Etage im Altbau der Garather Straße. Die Kinder der Klassen 1 und 2, die die Dependance Urdenbacher Allee
        besuchen, werden nach Schulschluss von einer pädagogischen Mitarbeiterin zur OGS in die Garather Straße
        begleitet. Die Kinder der Klassen 3 und 4 absolvieren diesen Weg selbstständig. Mittagessen und Lernzeiten
        finden in festen Gruppen statt. Die Freizeit- und Bildungsangebote sind gruppenübergreifend.
      </p>

      <h3 id="Betreuungspersonal">Betreuungspersonal</h3>
      <p>
        Die OGS wird von pädagogischen Fachkräften geleitet. Ergänzungskräfte unterstützen gruppenübergreifend die
        Arbeit. <br>
        <br>
        Ihre Ansprechpartner sind: <br>
        Petra Linden Klassen 1A und 1B <br>
        Jenni Braun Klasse 1C <br>
        Ulrike Reuth alle 2. Klassen und 3A <br>
        Britta Vaaßen 3B und 3C <br>
        Steffi Winter alle 4. Klassen <br>
        Kontakt: 0211- 7183373 <br>
        E-Mail: gg.garatherstr@schule.duesseldorf.de <br>
      </p>

      <h3 id="Abholzeiten">Abholzeiten</h3>
      <p>
        Für die OGS Garather Str. wurde in der Schulkonferenz folgendes beschlossen:
        Für alle Kinder ist die Teilnahme von Montag – Freitag bis 15.00 Uhr verpflichtend. Um den unterschiedlichen
        altersspezifischen Voraussetzungen der Kinder entgegen zu kommen, gibt es von Montag bis Donnerstag zwei
        Abholzeiten. <br><br>

        1. Abholzeit Mo – Do 15.00 – 15.15 Uhr <br>
        2. Abholzeit Mo – Do 16.15 – 16.30 Uhr <br>
        Freitags dürfen die Kinder von 15.00 – 15.30 Uhr abgeholt werden. <br>
        <br>
        Voraussetzung für die erste Abholzeit ist, dass Ihr Kind an diesem Tag an keinem Bildungsangebot teilnimmt.
        <br>
        In der Zeit von 15.15 – 16.15 Uhr ist keine Abholung möglich!
      </p>

      <h3 id="Tagesablauf">Tagesablauf</h3>
      <p>
      <table class="table table-striped">
        <tbody>
        <tr valign="top" align="left">
          <td width="30%"><b>Regul&auml;rer Unterricht</b></td>
          <td width="5%">&nbsp;</td>
          <td>Ihr Kind nimmt am Unterricht im Klassenverband teil.</td>
        </tr>
        <tr valign="top" align="left">
          <td width="30%"><b>Gemeinsames Mittagessen</b></td>
          <td width="5%">&nbsp;</td>
          <td>
            F&uuml;r alle Kinder wird zu festgelegten Zeiten das Mittagessen gereicht. Es wird mit den p&auml;dagogischen
            Mitarbeiterinnen in Tischgruppen gegessen. Gemeinsam beginnen wir mit einem kleinen Gebet, einem Liedvers o.&auml;.
            Au&szlig;erdem legen wir Wert auf die Vermittlung einer Esskultur.
          </td>
        </tr>
        <tr valign="top" align="left">
          <td width="30%"><b>Lernzeit</b></td>
          <td width="5%">&nbsp;</td>
          <td>
            Die Kinder werden in kleinen Gruppen in Kooperation mit der Schule bei den Hausaufgaben unterst&uuml;tzt.
            <br>
            Klasse 1/2 haben 30 Minuten und 3/4 haben 45 Minuten Lernzeit.
          </td>
        </tr>
        <tr valign="top" align="left">
          <td width="30%"><b>Bildungs- und Betreuungsangebote</b></td>
          <td width="5%">&nbsp;</td>
          <td>
            Die OGS bietet Ihrem Kind ein attraktives und ausgewogenes Bildungs-, Betreuungs- und Freizeitangebot, das
            von qualifizierten Fachleuten gleitet wird. Nat&uuml;rlich geben wir ihm auch Raum zur Entspannung und zu
            eigenem kreativen Tun!<br/>
            Wir bieten zur Zeit an:
            <br/>
            Malen und Zeichnen, Gartenwerkstatt, Fu&szlig;ball, Tanzen, Schmuck, Schwimmen, iPad, Volleyball,
            Basketball, Keramik, Musik, Filzen, Geocaching, Wir k&ouml;nnen voneinander lernen, Sport-Spiel-Spa&szlig;,
            Bauernhof, Theater,Farben und R&auml;ume, Werken und Bauen, physik. Experimente, Trommeln, Textilgestaltung,
            Kinderchor, Erz&auml;hlen-Lesen-Erleben
            <br/>
            Au&szlig;erdem arbeitet unsere Lerntrainerin Frau Jaffan in Kleingruppen mit den Kindern in den
            Bereichen<br/>Konzentration - Sprache - Mathematik.
          </td>
        </tr>
        <tr valign="top" align="left">
          <td width="30%"><b>Welche R&auml;umlichkeiten bietet die Offene Ganztagsschule ?</b></td>
          <td width="5%">&nbsp;</td>
          <td>
            Gruppenr&auml;ume im Erdgeschoss und in der ersten Etage im Altbau Garather Stra&szlig;e, zwei Essr&auml;ume
            mit K&uuml;che, Klassenr&auml;ume f&uuml;r die Lernzeiten und die Angebote am Nachmittag, Benutzung der
            Turnhalle/des Judoraums f&uuml;r Sportangebote, Benutzung des Schulhofes f&uuml;r das freie Spiel.<br/><br/>
            <!--<div class="thumbnail">
              <a href="img/ogs/ogs1.gif" rel="lightbox" title="R&auml;ume">
                <img src="img/ogs/klein/ogs1.gif" border="0" /></a>
            </div>
            <div class="thumbnail">
              <a href="img/ogs/ogs2.gif" rel="lightbox" title="R&auml;ume">
                <img src="img/ogs/klein/ogs2.gif" border="0" /></a>
            </div>
            <div class="thumbnail">
              <a href="img/ogs/ogs3.gif" rel="lightbox" title="R&auml;ume">
                <img src="img/ogs/klein/ogs3.gif" border="0" /></a>
            </div>
            -->
        </tr>
        </tbody>
      </table>
      </p>

      <h3 id="info">Anmeldung/Beiträge/Essensgeld</h3>
      <p>
      <table class="table table-striped">
        <tbody>
        <tr valign="top" align="left">
          <td width="30%"><b>Elternbeitr&auml;ge</b></td>
          <td width="5%">&nbsp;</td>
          <td>
            Die monatliche Zuzahlung ist nach Einkommen gestaffelt.
          </td>
        </tr>
        <tr valign="top" align="left">
          <td width="30%"><b>Essensgeld</b></td>
          <td width="5%">&nbsp;</td>
          <td>
            Das t&auml;gliche Mittagessen einschlie&szlig;lich der Getr&auml;nke kosten zur Zeit monatlich 61 &euro;.
          </td>
        </tr>
        <tr valign="top" align="left">
          <td width="30%"><b>Anmeldung</b></td>
          <td width="5%">&nbsp;</td>
          <td>
            GGS Urdenbach Garather Str. 16<br/>
            Telefon: 0211/9963943<br/><br/>
          </td>
        </tr>

        </tbody>
      </table>
      </p>

      <h3 id="Lernzeitkonzept">Lernzeitkonzept</h3>
      <p> Hier kann unser Lernzeitkonzept heruntergeladen werden.
      </p>
      <p class="text-left"><a target="_blank" href="assets/pdf/Lernzeitkonzept_OGS.pdf"
                              class="btn btn-primary btn-large">Erfahre mehr »</a></p>


      <h3 id="Traeger">Träger der OGS</h3>
      <p>
        <img src="images/diakonie.jpg"/>
        <br> <br>
        Diakonie in D&uuml;sseldorf
        Oberlinplatz 2<br/>
        40589 D&uuml;sseldorf<br/>
        Stefanie Noack<br/>
        Tel. 0211 75 67 59 8008
      </p>
    </article>

    <!-- Sidebar -->
    <aside class="col-sm-4 sidebar sidebar-right">

      <div class="widget">
        <h4>Direkt zu</h4>
        <ul class="list-unstyled list-spaces">
          <li><a href="" ng-click="scrollTo('Betreuungspersonal')">Betreuungspersonal</a><br><span
            class="small text-muted"></span>
          </li>
          <li><a href="" ng-click="scrollTo('Abholzeiten')">Abholzeiten</a><br><span class="small text-muted"></span>
          </li>
          <li><a href="" ng-click="scrollTo('Tagesablauf')">Tagesablauf</a><br><span
            class="small text-muted"></span>
          </li>
          <li><a href="" ng-click="scrollTo('info')">Anmeldung/Beiträge/Essensgeld</a><br><span
            class="small text-muted"></span>
          </li>
          <li><a href="" ng-click="scrollTo('Lernzeitkonzept')">Lernzeitkonzept</a><br><span
            class="small text-muted"></span>
          </li>
          <li><a href="" ng-click="scrollTo('Traeger')">Träger der OGS</a><br><span class="small text-muted"></span>
          </li>
        </ul>
      </div>

      <div class="row widget">
        <div class="col-xs-12">
          <h4>Räume</h4>
          <p><img src="images/ogs1.gif" alt=""></p>
        </div>
      </div>
      <div class="row widget">
        <div class="col-xs-12">

          <p><img src="images/ogs3.gif" alt=""></p>
        </div>
      </div>
      <div class="row widget">
        <div class="col-xs-12">

          <p><img src="images/ogs2.gif" alt=""></p>
        </div>
      </div>
    </aside>
    <!-- /Sidebar -->
  </div>
</div>
