<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Schulpflegschaft</li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <article class="col-sm-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">Schulpflegschaft</h1>
      </header>
      <p>
        Die Aufgabe der Schulpflegschaft der Grundschule GGS Garather Str. ist es vornehmlich, ein Bindeglied zwischen
        Eltern und Schulleitung zu sein. Die vertrauenenvolle Zusammenarbeit mit Rektorin Frau Kissmann gestaltet sich
        nicht nur im Rahmen der Schulkonferenz als durchweg positiv, genauso wie die Zusammenarbeit mit dem Förderverein
        der Grundschule.

        Aktuell ist es ein gemeinsames Ziel, den Zirkus 'Tausendtraum' im Rahmen der Projektwoche 2012 zu engagieren.
        Zudem engagiert sich der Elternrat u.a. bei den schulinternen Veranstaltungen wie dem Adventsmarkt oder
        Sponsorenlauf, gestaltet aber auch das Schulleben eigenständig durch das Einbringen eigener Projekte.
      </p>
      <h2>Elternvertreter </h2>
       <p>
        Schulpflegschaftsvorsitzender: Dirk Kolbe, 2B, dirk.kolbe@avk-logo.de <br>
        Stellvertretung: Herr Schwarz 2B
      </p>

    </article>
  </div>
</div>

