<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

  <ol class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li class="active">Termine</li>
  </ol>

  <div class="row">

    <!-- Article main content -->
    <article class="col-sm-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">Termine</h1>
      </header>
      <input type="text" ng-model="termine.search" class="search-query" id="termin_search" placeholder="Suchen...">
      <table class="table table-striped">
        <thead>
        <tr>
          <th ng-repeat="(key, val) in allTermine[0]">{{key | uppercase}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in allTermine | filter:termine.search | orderBy:'DATUM':true">
          <td ng-repeat="(key, val) in item">{{val}}</td>
        </tr>
        </tbody>
        <tfoot>

        </tfoot>
      </table>
    </article>
  </div>
</div>

